/*
:Author: John DeNero
:Contact: papajohn@gmail.com
:Copyright: This stylesheet has been placed in the public domain.

Stylesheet for use with docutils for 61A lecture notes.

*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 12pt;
  line-height: 1.6;
  color: #222;
  font-weight: 300;
  max-width: 900px;
}

pre, kbd, samp, code, var, pre span {
  font: medium/1 'Andale Mono', monospace;
  line-height: 1.3;
}

h1, h2, h3, aside {
  font-family: "Book Antiqua", Palatino, Georgia, serif;
  font-size: x-large;
  margin-top: 30px;
}

li {
  margin-bottom: 8px;
}

h1.title {
  margin: 0;
}

h2.subtitle {
  margin: 0;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

p {
  margin: 1.25em 0;
}

p.first {
  margin: 0 0;
}

html {
  background: #fff;
  color: #222;
}

body {
  margin: 1em 40px;
}

tt {
  color: #002;
}

/* links */

a:link, .w a {
  color: steelblue;
}

a:visited {
  color: #b44582;
}

/* Code */

pre.literal-block, pre.doctest-block {
  border-left: 2px solid #EEE;
  border-right: 2px solid #EEE;
  background-color: #F3F3F6;
  color: #000;
  padding: 12px;
  margin: 0px;
}

p.attribution {
  text-align: right ;
  margin-left: 20% }

/* Ordered lists */

ol.simple, ul.simple {
  margin-bottom: 1em }

ol.arabic {
  list-style: decimal }

ol.loweralpha {
  list-style: lower-alpha }

ol.upperalpha {
  list-style: upper-alpha }

ol.lowerroman {
  list-style: lower-roman }

ol.upperroman {
  list-style: upper-roman }

img {
  max-width:800px;
}
