h1, h2, h3, h4 {
  text-align: center;
}

h1.section_title {
  text-align: left;
}
h2.section_title {
  text-align: left;
}
h3.section_title {
  text-align: left;
}
h4.section_title {
  text-align: left;
}

#container {
  max-width: 60em;
}

a:hover {
    color: #59a3d7;
}

h1 a:link{
    text-decoration: none;
}
h1 a:visited{
    text-decoration: none;
    color: #222;
}
h1 a:active{
    text-decoration: none;
}
h1 a:hover{
    text-decoration: none;
    color: #59a3d7;
}

ul {
  list-style: none;
}

ul h3 {
  text-align: left;
}

.code,
.codemargin {
  font-family: Courier;
}

.codemargin{
  margin-left: 2em;
}

.terminal {
  margin-left: 2em;
}

img.figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

p.figure_caption {
  text-align: center;
}

.note {
  margin-left: 4em;
  margin-right: 4em;
}


table.txt_table {
  margin-left: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 4em;
}

.toc {
  font-size: large;
}

.tt {
  font-size: 1.2em;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
